

*{

    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.bueno{

    max-width: 900px;
    margin: 40px auto;
}

.menu{

    width: 900px;
    margin: 0 auto;

    
}

header{

    background: rgba(45, 42, 42, 0.8);
    width: 100%;
    clear: both;
    content: '';
    display: table;
    border-radius: 10px;
}


main{

    background-image: url('../public/assets/índice.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{

    float: right;
    
    
}

nav ul li {

    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
    margin-top: 40px;
    margin-left: 100px;
}

h2{

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.carro{

    width: 50px;
    height: 50px;
    float: left;
    padding: 8px;
    margin-left: 10px;
}

nav ul li a{

    text-decoration: none;
    color: brown;
    font-weight: bold;
}

nav ul li a::before {

    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
    


}

nav ul li a:hover::before{

    width: 100%;
    


}

.provisional{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

    color: rgb(180, 11, 11);
    margin-top: 50px;
}


.cuenta{

   text-align: center;
   
}

.agregar{

    margin-top: 50px;
}

.container{

   display: table-row;
   
   
}

.acomoda{

    display: inline-flex;
    margin-left: 145px;
    margin-bottom: 100px;
    
}
.tarjeta{

    text-align: center;
}

h2{

    color: wheat;
}
.titulo{

    color: wheat;
}