*{

    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.bueno{

    max-width: 900px;
    margin: 40px auto;
}

.menu{

    width: 900px;
    margin: 0 auto;
}

header{

    background: rgba(0, 0, 255, 0.442);
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

body{

    background-color: rgba(0, 0, 0, 0.811);
}
nav{

    float: right;
}

nav ul li {

    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
}

img{

    width: 50px;
    height: 50px;
    float: left;
    padding: 8px;
    margin-left: 10px;
}

nav ul li a{

    text-decoration: none;
    color: brown;
    font-weight: bold;
}

nav ul li a::before {

    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
    


}

nav ul li a:hover::before{

    width: 100%;
    


}

.provisional{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

    color: rgb(180, 11, 11);
    margin-top: 50px;
}